* {
    margin: 0px;
    padding: 0;
}

.fondo {
    height: 500px;
    background: url(../img/cabecera.png) center center/cover no-repeat fixed;
    filter: blur(2px);
}

body {
    background-color: #191919;
}

ul>li{
    position: sticky;
    list-style: none;
    width: 20%;
    text-align: center;
    float: left;
}

ul{
    width: 100%;
    float: left;
    margin-bottom: 70px;
}

button {
    color: black;
    background-color: #89F336;
    border: none;
    width: 100%;
    font-size: 20px;
    padding: 10px;
}

button:hover {
    background-color: #32CD32;
    border: 1px solid black;
}

table {
    width: 40%;
    text-align: center;
    padding: 10px;
    border: 5px solid #89F336;
    border-radius: 20px;
    margin: auto;
    text-indent: 40px;
}

table td {
    color: #32CD32;
    border: 1px solid;
}

table th {
    color: white;
    border: 1px solid;
}