* {
    margin: 0;
    padding: 0;
}

.fondo {
    background: url(../img/cabecera.png) center center/cover no-repeat fixed;
}

.callofDuty {
    margin-top: 500px;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: #D7D7D9;
}

#agents {
    margin-top: 50px;
    width: 200px;
    font-size: 20px;
    padding: 10px;
}

button {
    color: #F9F9F9;
    background-color: #41A0F2;
    border-radius: 10px;
    border: none;
}

button:hover {
    background-color: #0583F2;
    border: 1px solid #F9F9F9;
}

#agentsInfo {
    margin-top: 50px;
    text-align: center;
    background-color: #F9F9F9;
}